<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Construtor Vídeos | Montagem</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <link rel="stylesheet" href="../styles/home/home.css">
    <link rel="stylesheet" href="../styles/construtor-videos/construtorVideos.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <!-- INICIO BARRA DE NAVEGAÇÃO -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="position: fixed; z-index: 999; width: 100%; top: 0;">
  <a class="navbar-brand" href="home.html">Montagem App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-tools"></i>
          Construtores
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="construtorVideos.html">Construtor Vídeos</a>
          <a class="dropdown-item" href="paginaInicial.html">Página Inicial</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="PlanilhaVideoaula.html"><i class="fas fa-video"></i> Videoaulas</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="codigos.html"><i class="fas fa-code"></i>
        Códigos</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="controlePlanilha.html"><i class="fas fa-table"></i> Controle</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="guiaDeUso.html"><i class="fas fa-book"></i> Guia de Uso</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-folder-plus"></i>
          Mais
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="bannersProfessores.html">Banners / Professores</a>
          <a class="dropdown-item" href="senhas.html">Senhas</a>
          <a class="dropdown-item" href="diferenciados.html">Modelos Diferenciados</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a title="github da montagem" target="_blank" class="icone-nav" href="https://github.com/AutorUnivesp/Montagem"><i class="fab fa-github fa-2x"></i></a>
      <a title="site to trello" target="_blank" class="icone-nav" href="https://trello.com/"><i class="fab fa-trello fa-2x"></i></a>
      <a title="google drive" target="_blank" class="icone-nav" href="https://drive.google.com/drive/my-drive"><i class="fab fa-google-drive fa-2x"></i></a>
      <a title="página de login do Canvas" target="_blank" style="margin-right: 0px;" class="icone-nav" href="https://login.univesp.br/"><i class="fas fa-globe fa-2x"></i></a>
    </form>
  </div>
</nav>
  <!-- FIM BARRA DE NAVEGAÇÃO -->

  <div class="grid-construtor-videos">
    <div  data-target="#list-example" data-offset="0" class="scrollspy-example">
      <h4 class="titulo-secao" id="list-item-1">Videoaula</h4>
      <p class="subtitulo">Coloque os dados corretamente para gerar.</p>
      <select id="modelo-videoaula" class="">
        <option disabled selected value="">Indique o Modelo</option>
        <option value="Antigo">Antigo</option>
        <option value="Classico">Classico</option>
        <option value="Sona">Sona</option>
      </select>
      <span><sup>*obrigatório</sup></span>

      <br><br>

      <div class="grid-construtor-videoaula">
        <div>
          <p>Insira o título aqui</p>
          <p class="margin-paragrafo">Insira a sinopse aqui</p>
          <p class="margin-paragrafo">Insira o link do vídeo</p>
          <p class="margin-paragrafo">Insira o link do download</p>
          <p class="margin-paragrafo">Insira o link dos slides</p>
        </div>

        <div>
          <p><input id="titulo-videoaula" placeholder="Escreva um espaço em branco se não houver..." type="text" value=""></p>
          <p><input id="sinopse-videoaula" placeholder="Escreva um espaço em branco se não houver..." type="text" value=""></p>
          <p><input id="link-videoaula" placeholder="Escreva um espaço em branco se não houver..." type="text" value=""></p>
          <p><input id="download-videoaula" placeholder="Escreva um espaço em branco se não houver..." type="text" value=""></p>
          <p><input id="slide-videoaula" placeholder="Escreva um espaço em branco se não houver..." type="text" value=""></p>
        </div>
      </div>

      <div style="margin-left: 9%; margin-top: 5%;">
        <button onclick="geraVideoaula()" class="botao-contrutor-video" type="button" name="button">GERAR</button>

        <button style="margin-left: 10%;" onclick="limpaVideoaula()" class="botao-contrutor-video" type="button" name="button">LIMPAR</button>
      </div>

    </div>

    <div  data-target="#list-example" data-offset="0" class="scrollspy-example">
      <h4 class="titulo-secao" id="list-item-2">Vídeo-base</h4>
      <p class="subtitulo">Coloque os dados corretamente para gerar.</p>
      <br>
      <div class="grid-construtor-videoaula">
        <div>
          <p>Insira o título aqui</p>
          <p class="margin-paragrafo">Insira o link do vídeo</p>
          <p class="margin-paragrafo">Insira a sinopse aqui</p>

        </div>

        <div>
          <p><input id="titulo-videoBase" placeholder="Escreva um espaço em branco se não houver..." type="text" value=""></p>
          <p><input id="link-videoBase" placeholder="Escreva um espaço em branco se não houver..." type="text" value=""></p>
          <p><input id="sinopse-videoBase" placeholder="Escreva somente se tiver sinopse..." type="text" value=""></p>
        </div>
      </div>

      <div style="margin-left: 11%; margin-top: 5%;">
        <button onclick="geraVideoBase()" class="botao-contrutor-video" type="button" name="button">GERAR</button>

        <button style="margin-left: 12%;" onclick="limpaVideoBase()" class="botao-contrutor-video" type="button" name="button">LIMPAR</button>
      </div>
    </div>
  </div>

  <br><br>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <script>
    function geraVideoaula(){
      let tituloVideoaula = document.getElementById('titulo-videoaula').value;
      let sinopseVideoaula = document.getElementById('sinopse-videoaula').value;
      let linkVideoaula = document.getElementById('link-videoaula').value;
      let downloadVideoaulaIncorreto = document.getElementById('download-videoaula').value;
      let downloadVideoaula = downloadVideoaulaIncorreto.replace("https://drive.google.com/file/d/", "https://drive.google.com/uc?export=download&id=");
      let slideVideoaula = document.getElementById('slide-videoaula').value;
      let modeloVideoaula = document.getElementById('modelo-videoaula').value;

      let videoaula = {
        titulo: tituloVideoaula, sinopse: sinopseVideoaula, link: linkVideoaula, download: downloadVideoaula, slide: slideVideoaula
      }

      if (modeloVideoaula === "Antigo" && videoaula.titulo !== "" && videoaula.sinopse !== "" && videoaula.link !== "" && videoaula.download !== "" && videoaula.slide !== "") {

        let copia = `<div class="graduation">
        <div class="container">
        	<div class="content-item video primary">
        		<div class="icon">
        			<img src="https://assets.univesp.br/canvas/img/video.svg">
        		</div>
        		<div class="content">
        			<h5>Videoaula</h5>
        			<h2>${videoaula.titulo}</h2><!-- título -->
        		</div>
        	</div>
        	<div class="content-item-body">
        		<iframe src=${videoaula.link.replace("https://youtu.be/", "https://www.youtube.com/embed/")} width="300" height="150" allowfullscreen="allowfullscreen"></iframe>
        		<div class="btn-bar">

        			<a class="btn btn-padrao icon-educators" href=${videoaula.slide.replace("view?usp=sharing", "preview")} target="_blank" rel="noopener noreferrer">Slides de  Apoio</a>

        			<a class="btn btn-padrao icon-cloud-download" href=${videoaula.download.replace("/view?usp=sharing", "")} target="_blank" rel="noopener noreferrer">Download do Vídeo</a>
        		</div>
        		<div class="synopsis"><p>${videoaula.sinopse}</p></div><!-- texto -->
        	</div>
        </div>
        </div>`

        navigator.clipboard.writeText(copia)

      } else if (modeloVideoaula === "Classico" && videoaula.titulo !== "" && videoaula.sinopse !== "" && videoaula.link !== "" && videoaula.download !== "" && videoaula.slide !== "") {

        let copia = `<div class="graduation">
        <div class="container">
        	<div class="content-item video primary">
        		<div class="icon">
        			<img src="https://assets.univesp.br/canvas/img/video.svg">
        		</div>
        		<div class="content">
        			<h5>Videoaula</h5>
        			<h2>${videoaula.titulo}</h2>
        		</div>
        	</div>
        	<div class="content-item-body">
        		<iframe src=${videoaula.link.replace("https://youtu.be/", "https://www.youtube.com/embed/")} width="300" height="150" allowfullscreen="allowfullscreen"></iframe>
        		<div class="btn-bar">
        			<a class="btn btn-padrao icon-educators" href=${videoaula.slide.replace("view?usp=sharing", "preview")} target="_blank">Slides de  Apoio</a>
        			<a class="btn btn-padrao icon-cloud-download" href=${videoaula.download.replace("/view?usp=sharing", "")} target="_blank">Download do Vídeo</a>
        		</div>
        		<div class="synopsis"><p>${videoaula.sinopse}</p></div><span class="end"> </span>
        	</div>
        </div>
        </div>`

        navigator.clipboard.writeText(copia)

      } else if (modeloVideoaula === "Sona" && videoaula.titulo !== "" && videoaula.sinopse !== "" && videoaula.link !== "" && videoaula.download !== "" && videoaula.slide !== "") {

        let copia = `<div class="graduation">
        <div class="container">
        	<div class="content-item video primary">
        		<div class="icon">
        			<img src="https://assets.univesp.br/canvas/img/video.svg">
        		</div>
        		<div class="content">
        			<h5>Videoaula do professor</h5>
        			<h2>${videoaula.titulo}</h2>
        		</div>
        	</div>
        	<div class="content-item-body">
        		<iframe src=${videoaula.link.replace("https://youtu.be/", "https://www.youtube.com/embed/")} width="300" height="150" allowfullscreen="allowfullscreen"></iframe>
        		<div class="btn-bar">
        			<a class="btn btn-padrao icon-educators" href=${videoaula.slide.replace("view?usp=sharing", "preview")} target="_blank">Slides de  Apoio</a>
        			<a class="btn btn-padrao icon-cloud-download" href=${videoaula.download.replace("/view?usp=sharing", "")} target="_blank">Download do Vídeo</a>
        		</div>
        		<div class="synopsis"><p>${videoaula.sinopse}</p></div><span class="end"> </span>
        	</div>
        </div>
        </div>`

        navigator.clipboard.writeText(copia)

      }
    }

    function geraVideoBase(){
      let tituloVideoBase = document.getElementById('titulo-videoBase').value;
      let linkVideoBase = document.getElementById('link-videoBase').value;
      let sinopseVideoBase = document.getElementById('sinopse-videoBase').value;

      let videoBase = {
        tituloBase: tituloVideoBase,
        linkBase: linkVideoBase,
        sinopseBase: sinopseVideoBase
      }

      if (videoBase.tituloBase !== "" && videoBase.linkBase !== "" && videoBase.sinopseBase === "") {

        let copiaBase = `<div class="graduation">
        <div class="container">
        <div class="content-item video primary">
        	<div class="icon">
        		<img src="https://assets.univesp.br/canvas/img/video.svg">
        	</div>
        	<div class="content">
        		<h5>Vídeo-base</h5>
        		<h2>${videoBase.tituloBase}</h2>
        	</div>
        </div>
        <div class="content-item-body">
        	<iframe src=${videoBase.linkBase.replace("https://youtu.be/", "https://www.youtube.com/embed/")} width="300" height="150" allowfullscreen="allowfullscreen"></iframe>
        </div>
        </div>
        </div>`

        navigator.clipboard.writeText(copiaBase)

      } else if (videoBase.tituloBase !== "" && videoBase.linkBase !== "" && videoBase.sinopseBase !== "") {

        let copiaBase = `<div class="graduation">
        <div class="container">
        <div class="content-item video primary">
          <div class="icon">
            <img src="https://assets.univesp.br/canvas/img/video.svg">
          </div>
          <div class="content">
            <h5>Vídeo-base</h5>
            <h2>${videoBase.tituloBase}</h2>
          </div>
        </div>
        <div class="content-item-body">
          <iframe src=${videoBase.linkBase.replace("https://youtu.be/", "https://www.youtube.com/embed/")} width="300" height="150" allowfullscreen="allowfullscreen"></iframe>

          <div class="synopsis"><p>${videoBase.sinopseBase}</p></div>
        </div>
        </div>
        </div>`

        navigator.clipboard.writeText(copiaBase)
      }
    }

    function limpaVideoaula(){
      let tituloVideoaula = document.getElementById('titulo-videoaula').value;
      let sinopseVideoaula = document.getElementById('sinopse-videoaula').value;
      let linkVideoaula = document.getElementById('link-videoaula').value;
      let downloadVideoaula = document.getElementById('download-videoaula').value;
      let slideVideoaula = document.getElementById('slide-videoaula').value;
      let modeloVideoaula = document.getElementById('modelo-videoaula').value;

      if (tituloVideoaula !== "" || sinopseVideoaula !== "" || linkVideoaula !== "" || downloadVideoaula !== "" || slideVideoaula !== "" || modeloVideoaula !== "") {

        document.getElementById('titulo-videoaula').value = "";
        document.getElementById('sinopse-videoaula').value = "";
        document.getElementById('link-videoaula').value = "";
        document.getElementById('download-videoaula').value = "";
        document.getElementById('slide-videoaula').value = "";
        document.getElementById('modelo-videoaula').value = "";
      }
    }

    function limpaVideoBase(){
      let tituloVideoBase = document.getElementById('titulo-videoBase').value;
      let linkVideoBase = document.getElementById('link-videoBase').value;
      let sinopseVideoBase = document.getElementById('sinopse-videoBase').value;

      if (tituloVideoBase !== "" || linkVideoBase !== "" || sinopseVideoBase !== "") {

        document.getElementById('titulo-videoBase').value = "";
        document.getElementById('link-videoBase').value = "";
        document.getElementById('sinopse-videoBase').value = "";

      }
    }
  </script>

  </body>
</html>
