<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Montagem | Univesp</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <link rel="stylesheet" href="../styles/home/home.css">
  </head>

  <body>

    <!-- INICIO BARRA DE NAVEGAÇÃO -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="position: fixed; z-index: 999; width: 100%; top: 0;">
  <a class="navbar-brand" href="home.html">Montagem App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-tools"></i>
          Construtores
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="construtorVideos.html">Construtor Vídeos</a>
          <a class="dropdown-item" href="paginaInicial.html">Página Inicial</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="PlanilhaVideoaula.html"><i class="fas fa-video"></i> Videoaulas</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="codigos.html"><i class="fas fa-code"></i>
        Códigos</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="controlePlanilha.html"><i class="fas fa-table"></i> Controle</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="guiaDeUso.html"><i class="fas fa-book"></i> Guia de Uso</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-folder-plus"></i>
          Mais
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="bannersProfessores.html">Banners / Professores</a>
          <a class="dropdown-item" href="senhas.html">Senhas</a>
          <a class="dropdown-item" href="diferenciados.html">Modelos Diferenciados</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a title="github da montagem" target="_blank" class="icone-nav" href="https://github.com/AutorUnivesp/Montagem"><i class="fab fa-github fa-2x"></i></a>
      <a title="site to trello" target="_blank" class="icone-nav" href="https://trello.com/"><i class="fab fa-trello fa-2x"></i></a>
      <a title="google drive" target="_blank" class="icone-nav" href="https://drive.google.com/drive/my-drive"><i class="fab fa-google-drive fa-2x"></i></a>
      <a title="página de login do Canvas" target="_blank" style="margin-right: 0px;" class="icone-nav" href="https://login.univesp.br/"><i class="fas fa-globe fa-2x"></i></a>
    </form>
  </div>
</nav>
  <!-- FIM BARRA DE NAVEGAÇÃO -->

  <div style="text-align: center;" class="div-logo-univesp">
    <img class="logo-univesp" src="../images/logo_univesp.jpg" alt="">
  </div>

  <div class="card" style="width: 35rem;">
    <div class="card-body">
      <div style="text-align: center;"><img class="img-home" src="../images/Bm7L.gif" alt=""></div>
      <h1 class="card-title">MONTAGEM</h1>
      
      <form>
        <div class="form-group">
          <label style="color: #AF1C26;" for="exampleInputEmail1">Digite o seu email Univesp</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

          <label style="color: #AF1C26;" for="exampleInputEmail1">Digite sua senha</label>
          <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div style="text-align: center;"><button type="submit" class="btn btn-primary botao-home">ACESSAR</button></div>
      </form>
    </div>
  </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
