
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Construtor Página Inicial | Montagem</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <link rel="stylesheet" href="../styles/home/home.css">
    <link rel="stylesheet" href="../styles/construtor-paginaInicial/construtor-paginaInicial.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <!-- INICIO BARRA DE NAVEGAÇÃO -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="position: fixed; z-index: 999; width: 100%; top: 0;">
  <a class="navbar-brand" href="home.html">Montagem App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-tools"></i>
          Construtores
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="construtorVideos.html">Construtor Vídeos</a>
          <a class="dropdown-item" href="paginaInicial.html">Página Inicial</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="PlanilhaVideoaula.html"><i class="fas fa-video"></i> Videoaulas</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="codigos.html"><i class="fas fa-code"></i>
        Códigos</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="controlePlanilha.html"><i class="fas fa-table"></i> Controle</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="guiaDeUso.html"><i class="fas fa-book"></i> Guia de Uso</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-folder-plus"></i>
          Mais
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="bannersProfessores.html">Banners / Professores</a>
          <a class="dropdown-item" href="senhas.html">Senhas</a>
          <a class="dropdown-item" href="diferenciados.html">Modelos Diferenciados</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a title="github da montagem" target="_blank" class="icone-nav" href="https://github.com/AutorUnivesp/Montagem"><i class="fab fa-github fa-2x"></i></a>
      <a title="site to trello" target="_blank" class="icone-nav" href="https://trello.com/"><i class="fab fa-trello fa-2x"></i></a>
      <a title="google drive" target="_blank" class="icone-nav" href="https://drive.google.com/drive/my-drive"><i class="fab fa-google-drive fa-2x"></i></a>
      <a title="página de login do Canvas" target="_blank" style="margin-right: 0px;" class="icone-nav" href="https://login.univesp.br/"><i class="fas fa-globe fa-2x"></i></a>
    </form>
  </div>
</nav>
  <!-- FIM BARRA DE NAVEGAÇÃO -->

  <!-- Modal +Ajuda -->

  <div id="myModal" class="modal">

    <div class="modal-content">

      <span id="closeButton" class="close">&times;</span>
      <h2 style="color: #543c52; margin-left: 8%;">Guia de Uso - Construtor da Página Inicial</h2>

      <br><br>

      <span id="perguntaModal1" class="perguntaModal">
        <p style="margin-left: 1%; margin-top: 1.5%;">Quero construir apenas a parte do Menu Semanas</p>
      </span>

      <span id="respostaModal1" class="respostaModal">
        <p style="margin-left: 1%; margin-top: 1%;">Preencha <strong>somente</strong> os inputs da seção "Menu Semanas". Coloque os dados de pelo menos 1 semana, sempre a partir da Semana 1 (não é possível gerar o HTML inserindo os dados a partir da semana 3, por exemplo).</p>
      </span>

      <br />

      <span id="perguntaModal2" class="perguntaModal">
        <p style="margin-left: 1%; margin-top: 1.5%;">Quero construir a página inicial completa, porém sem a parte do vídeo de apresentação e/ou sem a parte do planejamento de estudo</p>
      </span>

      <span id="respostaModal2" class="respostaModal">
        <p style="margin-left: 1%; margin-top: 1%;">- Caso queira a página inicial sem a parte do vídeo de apresentação, apenas ignore os campos da seção "Vídeo de Apresentação". <br /> - Caso queira a página inicial sem a parte do planejamento de estudos, apenas ignore os campos da seção "Planejamento de Estudos". <br /> - Caso queira a página inicial sem a parte do vídeo de apresentação e sem a parte do planejamento de estudos, apenas ignore os campos das duas seções <br /><br /> <strong>Obs.:</strong> em todos os casos NÃO é necessário inserir um espaço para que o construtor funcione.</p>
      </span>

      <br />

      <span id="perguntaModal3" class="perguntaModal">
        <p style="margin-left: 1%; margin-top: 1.5%;">Tenho link do youtube do vídeo de apresentação mas não tenho link do download</p>
      </span>

      <span id="respostaModal3" class="respostaModal">
        <p style="margin-left: 1%; margin-top: 1%;">Coloque o link do youtube normalmente e, no campo do download coloque um espaço.</p>
      </span>

      <br />

      <span id="perguntaModal4" class="perguntaModal">
        <p style="margin-left: 1%; margin-top: 1.5%;">Como gerar o código da página de cabeçalho?</p>
      </span>

      <span id="respostaModal4" class="respostaModal">
        <p style="margin-left: 1%; margin-top: 1%;">Os campos <strong>obrigatórios</strong> para que o <strong>construtor de cabeçalho</strong> funcione são os da seção "Topo da Página", o campo "Modelo" e os temas de pelo menos 7 semanas.</p>
        <p style="margin-left: 1%; margin-top: 1%;">Clique no botão "Cabeçalho" ao fim da página para gerar o código.</p>
        <p style="margin-left: 1%; margin-top: 1%;"><strong>Obs.:</strong> não há problema se os campos não obrigatórios estiverem preenchidos.</p>
      </span>

      <br /><br />

      <h3 style="color: #543c52; font-weight: 400;">Atenção:</h3>

      <br />

      <p style="color: #543c52; font-weight: 400;">• Caso queira construir a página inicial completa, insira os dados de pelo menos <strong>7 semanas</strong>.</p>

      <p style="color: #543c52; font-weight: 400;">• Os campos <strong>obrigatórios</strong> para o construtor funcionar corretamente (indicados com *) são os das seções "Topo da Página" e "Formadores", ou pelo menos 1 semana completa da seção "Menu Semanas". <strong>Nesses campos, se não houver informação, deixe um espaço em branco</strong>.</p>

      <p style="color: #543c52; font-weight: 400;">• O formato correto a ser inserido no campo "Banner" é o seguinte: <strong>banner_Disciplina.jpg</strong>. Já o formato correto a ser inserido no campo "Foto" é o seguinte: <strong>Foto_do_Professor.jpg</strong></p>

      <p style="color: #543c52; font-weight: 400;">• Para inserir automaticamente as datas semanais vigentes no bimestre, clique no botão "Semanal". Para inserir automaticamente as datas semestrais, clique no botão "Quinzenal".</p>

      <p style="color: #543c52; font-weight: 400;">• O construtor <strong>não</strong> irá funcionar se alguma semana da seção "Menu Semanas" estiver incompleta (sem data, tema ou link). <strong>Nesses campos, se não houver informação, deixe um espaço em branco</strong></p>

      <p style="color: #543c52; font-weight: 400;">• Na seção "Planejamento de Estudos", caso ainda não haja a data da prova, selecione alguma data para alterar posteriormente. Caso contrário, o construtor não ira funcionar corretamente.</p>

      <p style="color: #543c52; font-weight: 400;">• O campo "Modelo" é obrigatório apenas para o construtor da página de cabeçalho. Caso esteja fazendo <strong>apenas</strong> a página inicial, ignore esse campo.</p>

    </div>

  </div>

  <!-- FIM  Modal +Ajuda -->

  <div class="grid-pagina-inicial">

    <div class="ladoEsquerdo">
      <h2>Menu Semanas</h2>

      <button id="botaoAjuda" type="button" name="button">+Ajuda</button>

      <br><br>

      <p>Coloque os dados corretamente para gerar.</p>

      <h5>Modelo:</h5>
      <select style="width: 25%;" class="" name="" id="modeloField">
        <option disabled selected value="">Indique o Modelo</option>
        <option value="Antigo">Antigo</option>
        <option value="Clássico">Clássico</option>
        <option value="Sona">Sona</option>
      </select>

      <br><br>

      <h5>Topo da Página</h5>

      <div class="grid-topoPagina">
        <div><span>Curso:* <br> <input id="curseField" type="text" placeholder="Escreva um espaço em branco se não houver"></span></div>

        <div><span>Disciplina:* <br> <input id="disciplinaName" type="text" placeholder="Escreva um espaço em branco se não houver"></span></div>

        <div><span>Banner:* <br> <input id="bannerField" type="text" placeholder="Escreva um espaço em branco se não houver"></span></div>

        <div><span>Plano de Ensino:* <br> <input id="planoField" type="text" placeholder="Escreva um espaço em branco se não houver"></span></div>
      </div>

      <br>

      <h5>Vídeo de Apresentação</h5>

      <div class="grid-videoApresentacao">
        <div><input id="videoLink" type="text" placeholder="Insira o link do vídeo"></div>

        <div><input id="downloadLink" type="text" placeholder="Insira o link do download"></div>
      </div>

      <br>

      <h5>Planejamento de Estudos</h5>

      <div class="grid-planejamento">
        <div><span>Carga Horária: <br>
          <select id="cargaHoraria" class="" name="">
            <option disabled selected value="">Indique a qtde de horas</option>
            <option value="80" id="oitenta" >80</option>
            <option value="40">40</option>
            <option value="20">20</option>
          </select>
        </span></div>

        <div><span>Horas/Semana: <br> <input id="horaSemana" type="text"></span></div>

        <div><span>Data da Prova: <br> <input id="dataProva" style="width: 110%;" type="date"></span></div>

        <div id="dataProva2" style="display: none;"><span>Data da Prova: <br> <input id="dataProva1" style="width: 110%;" type="date"></span></div>
      </div><br>

      <div> <button id="botaoProva2" type="button" name="button">Adicionar Data</button> </div>

      <br>

      <h5>Formador(a)</h5>

      <div class="grid-formador">
        <div><span>Nome:* <br> <input id="professorName" type="text" placeholder="Escreva um espaço em branco se não houver"> </span></div>

        <div><span>Foto:* <br> <input id="professorFoto" type="text" placeholder="Escreva um espaço em branco se não houver"></span></div>

        <div><span>Currículo:* <br> <input id="curriculoField" type="text" placeholder="Escreva um espaço em branco se não houver"></span></div>
      </div><br><br>

      <div> <button id="botaoResumo" type="button" name="button"> Adicionar Resumo Visual</button> </div> <br>

      <div id="resumoVisual" style="display: none;"><span><input id="resumoVisual1" type="text" placeholder="Insira o link do resumo visual"></span></div>

    </div>

    <div class="ladoDireito">
      <div class="botoes-semanas">
        <div><button id="botaoSemanal">Semanal</button></div>
        <div><button id="botaoQuinzenal">Quinzenal</button></div>
      </div>
      <br>

      <h5>Semana 1*</h5>

      <div class="temas-construtor">
        <div> <input id="data-semana1" type="date" name="" value=""> </div>
        <div> <input id="tema-semana1" type="text" name="" value="" placeholder="Insira o tema da semana 1"> </div>
        <div> <input id="link-semana1" type="text" name="" value="" placeholder="Insira o link da semana 1"> </div>
      </div>

      <br>

      <h5>Semana 2*</h5>

      <div class="temas-construtor">
        <div> <input id="data-semana2" type="date" name="" value=""> </div>
        <div> <input id="tema-semana2" type="text" name="" value="" placeholder="Insira o tema da semana 2"> </div>
        <div> <input id="link-semana2" type="text" name="" value="" placeholder="Insira o link da semana 2"> </div>
      </div>

      <br>

      <h5>Semana 3*</h5>

      <div class="temas-construtor">
        <div> <input id="data-semana3" type="date" name="" value=""> </div>
        <div> <input id="tema-semana3" type="text" name="" value="" placeholder="Insira o tema da semana 3"> </div>
        <div> <input id="link-semana3" type="text" name="" value="" placeholder="Insira o link da semana 3"> </div>
      </div>

      <br>

      <h5>Semana 4*</h5>

      <div class="temas-construtor">
        <div> <input id="data-semana4" type="date" name="" value=""> </div>
        <div> <input id="tema-semana4" type="text" name="" value="" placeholder="Insira o tema da semana 4"> </div>
        <div> <input id="link-semana4" type="text" name="" value="" placeholder="Insira o link da semana 4"> </div>
      </div>

      <br>

      <h5>Semana 5*</h5>

      <div class="temas-construtor">
        <div> <input id="data-semana5" type="date" name="" value=""> </div>
        <div> <input id="tema-semana5" type="text" name="" value="" placeholder="Insira o tema da semana 5"> </div>
        <div> <input id="link-semana5" type="text" name="" value="" placeholder="Insira o link da semana 5"> </div>
      </div>

      <br>

      <h5>Semana 6*</h5>

      <div class="temas-construtor">
        <div> <input id="data-semana6" type="date" name="" value=""> </div>
        <div> <input id="tema-semana6" type="text" name="" value="" placeholder="Insira o tema da semana 6"> </div>
        <div> <input id="link-semana6" type="text" name="" value="" placeholder="Insira o link da semana 6"> </div>
      </div>

      <br>

      <h5>Semana 7*</h5>

      <div class="temas-construtor">
        <div> <input id="data-semana7" type="date" name="" value=""> </div>
        <div> <input id="tema-semana7" type="text" name="" value="" placeholder="Insira o tema da semana 7"> </div>
        <div> <input id="link-semana7" type="text" name="" value="" placeholder="Insira o link da semana 7"> </div>
      </div>

      <br>

      <h5>Semana 8*</h5>

      <div class="temas-construtor">
        <div> <input id="data-semana8" type="date" name="" value=""> </div>
        <div> <input id="tema-semana8" type="text" name="" value="" placeholder="Insira o tema da semana 8"> </div>
        <div> <input id="link-semana8" type="text" name="" value="" placeholder="Insira o link da semana 8"> </div>
      </div>

      <br><br>

      <div class="grid-botoes-final">
        <div><button type="button" onclick="montaPaginaInicial()">GERAR</button></div>
        <div><button type="button" onclick="montaCabecalho()">CABEÇALHO</button></div>
        <div><button type="button" onclick="limpar()">LIMPAR</button></div>
      </div>

      <br>

    </div>

  </div>
  <script charset="UTF-8" src="../script/limpa.js"></script>
  <script charset="UTF-8" src="../script/montaPaginaInicial.js"></script>
  <script charset="UTF-8" src="../script/montaCabecalho.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <script>
    function adicionaData(){
      $('#botaoProva2').click(function(){
        $('#dataProva2').toggle()
        $(this).text(function(i, old){
            return old == 'Remover Data' ? 'Adicionar Data' : 'Remover Data';
          });
      })
    }

    function adicionaResumo(){
      $('#botaoResumo').click(function(){
        $('#resumoVisual').toggle()
        $(this).text(function(i, old){
            return old == 'Remover Resumo Visual' ? 'Adicionar Resumo Visual' : 'Remover Resumo Visual';
          });
      })
    }

    function geraDataSemanal(){
      $('#botaoSemanal').click(function(){
        let sem1 = document.getElementById('data-semana1').value
        let sem2 = document.getElementById('data-semana2').value
        let sem3 = document.getElementById('data-semana3').value
        let sem4 = document.getElementById('data-semana4').value
        let sem5 = document.getElementById('data-semana5').value
        let sem6 = document.getElementById('data-semana6').value
        let sem7 = document.getElementById('data-semana7').value
        let sem8 = document.getElementById('data-semana8').value

        var res1 = sem1.replace("", "2020-08-03");
        document.getElementById("data-semana1").value = res1;

        var res2 = sem2.replace("", "2020-08-10");
        document.getElementById("data-semana2").value = res2;

        var res3 = sem3.replace("", "2020-08-17");
        document.getElementById("data-semana3").value = res3;

        var res4 = sem4.replace("", "2020-08-24");
        document.getElementById("data-semana4").value = res4;

        var res5 = sem5.replace("", "2020-08-31");
        document.getElementById("data-semana5").value = res5;

        var res6 = sem6.replace("", "2020-09-07");
        document.getElementById("data-semana6").value = res6;

        var res7 = sem7.replace("", "2020-09-14");
        document.getElementById("data-semana7").value = res7;

       var res8 = sem8.replace("", "2020-09-21");
       document.getElementById("data-semana8").value = res8;
      })
    }

    function geraDataQuinzenal(){
      $('#botaoQuinzenal').click(function(){
        let sem1 = document.getElementById('data-semana1').value
        let sem2 = document.getElementById('data-semana2').value
        let sem3 = document.getElementById('data-semana3').value
        let sem4 = document.getElementById('data-semana4').value
        let sem5 = document.getElementById('data-semana5').value
        let sem6 = document.getElementById('data-semana6').value
        let sem7 = document.getElementById('data-semana7').value
       let sem8 = document.getElementById('data-semana8').value

        var res1 = sem1.replace("", "2020-08-03");
        document.getElementById("data-semana1").value = res1;

        var res2 = sem2.replace("", "2020-08-17");
        document.getElementById("data-semana2").value = res2;

        var res3 = sem3.replace("", "2020-08-31");
        document.getElementById("data-semana3").value = res3;

        var res4 = sem4.replace("", "2020-09-14");
        document.getElementById("data-semana4").value = res4;

        var res5 = sem5.replace("", "2020-09-28");
        document.getElementById("data-semana5").value = res5;

        var res6 = sem6.replace("", "2020-10-12");
        document.getElementById("data-semana6").value = res6;

        var res7 = sem7.replace("", "2020-10-26");
        document.getElementById("data-semana7").value = res7;

        var res8 = sem8.replace("", "2020-11-09");
        document.getElementById("data-semana8").value = res8;
      })
    }

    function horaSemana(){
      $( "#cargaHoraria" ).change(function () {
        var str = "";
        $( "#cargaHoraria option:selected" ).each(function() {
          str += $( this ).val();
        });
        var strDividido = str / 8
        $( "#horaSemana" ).val( strDividido );
      })
      .change();
    };

    // Alterna entre Hide/Show do modal e das respostas
    function modal(){
      $('#botaoAjuda').click(function(){
        $('#myModal').toggle();
      });
      $('#closeButton').click(function(){
        $('#myModal').toggle();
      });
      $('#perguntaModal1').click(function(){
        $('#respostaModal1').toggle();
      });
      $('#perguntaModal2').click(function(){
        $('#respostaModal2').toggle();
      });
      $('#perguntaModal3').click(function(){
        $('#respostaModal3').toggle();
      });
      $('#perguntaModal4').click(function(){
        $('#respostaModal4').toggle();
      });
    };

    // Altera CSS da caixa da pergunta quando clicado
    function perguntaModalToggle(){
      $('#perguntaModal1').click(function(){
        var pergunta1 = document.getElementById('perguntaModal1');
        pergunta1.classList.toggle("perguntaModalToggle");
      });
      $('#perguntaModal2').click(function(){
        var pergunta1 = document.getElementById('perguntaModal2');
        pergunta1.classList.toggle("perguntaModalToggle");
      });
      $('#perguntaModal3').click(function(){
        var pergunta1 = document.getElementById('perguntaModal3');
        pergunta1.classList.toggle("perguntaModalToggle");
      });
      $('#perguntaModal4').click(function(){
        var pergunta1 = document.getElementById('perguntaModal4');
        pergunta1.classList.toggle("perguntaModalToggle");
      });
    };



    adicionaData();
    adicionaResumo();
    geraDataSemanal();
    geraDataQuinzenal();
    horaSemana();
    modal();
    perguntaModalToggle();

  </script>
  </body>
</html>
=======
<!
