.submit-lente {
  position:absolute;
  top:0; right: 0;
  z-index:10;
  border:none;
  background:transparent;
  outline:none;
  pointer-events: none;
}

.submit-line {
  position: relative;
  width: 250px;
}

.submit-line input {
  width: 100%;
}

.grid-bannersProfessores{
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 12%;
  margin-left: 14%;
}

input{
  background-color: #565e69;
  color: white;
}

.fa-search{
  color: white;
}

::placeholder{
  color: white;
  font-style: italic;
  font-weight: lighter;
}
